Source: libfastcdr
Priority: optional
Maintainer: Esteve Fernandez <esteve@osrfoundation.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, dh-autoreconf, cdbs
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/eProsima/FastCDR
#Vcs-Git: git://git.debian.org/collab-maint/libfastcdr.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libfastcdr.git;a=summary

Package: libfastcdr-dev
Section: libdevel
Architecture: any
Depends: libfastcdr0 (= ${binary:Version})
Description: eProsima FastCDR library (devel)
 eProsima FastCDR library (devel)

Package: libfastcdr0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: eProsima FastCDR library
 eProsima FastCDR library
